.merriweather-normal {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.header-1 {
    font-size: 22px;
    color: #FFFFFF;
    position: absolute;
    top: 118px;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font-weight: bold; */
    padding: 10px;
    border-radius: 16px;
    z-index: 2;
}

.header-2 {
    font-size: 48px;
    color: #FFFFFF;
    position: absolute;
    top: 222px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-weight: bold;
    padding: 10px;
    border-radius: 16px;
    z-index: 2;
}

.container {
    position: relative;
    width: 880px;
    height: 400px;
    /* display: inline-block; */
    text-align: center;
    /* margin: 34px 94px 34px 94px; */
    margin: 34px auto;
    display: flex;
}

.join {
    position: relative;
    width: 880px;
    height: 400px;
    margin: 34px auto;
    margin-top: 100px;
}

.gradient2 {
    width: 880px;
    height: 400px;
    border: none;
    border-radius: 16px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    pointer-events: none;
}

.wel {
    font-size: 33px;
    font-weight: bold;
    /* color: #FFFFFF; */
}

.joinnow {
    font
}

/* .container {
    position: relative;
    width: 880px;
    height: 400px;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
} */

img {
    width: 880px;
    height: 400px;
    border-radius: 16px;
    border: none;
}

.gradient {
    width: 880px;
    height: 400px;
    border: none;
    border-radius: 16px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    pointer-events: none;
}

/* .off{
    display: flex;
    justify-content: center;
} */
.text {
    color: #FF0000;
    font-size: 59px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    /* width: 256px;
    height: 72px; */
}

.holiday {
    color: #FF0000;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-top: 32px;
}

.cat {
    color: #070211;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin-top: 2px;
}

.ch {
    width: 536px;
    height: 333px;
    margin: 0 auto;
    display: block;
}